
@{
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
    ViewData["Title"] = "Camp";
}


<div aurelia-app="boot">Loading...</div>

@section scripts {
    <script type="text/javascript" src="~/vendor/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/spadist/app.js" asp-append-version="true"></script>
}


