.footer {
    height: $body-bottom-margin;
    background-color: $nav-bg-color;
    border-bottom: 1px solid #ddd;
    text-align: center;
    width: 100%;
    padding-top: 7px;
}

.footer h6 {
    color: white;
}