$body-bottom-margin: 40px;
$body-top-margin: 50px;
$nav-bg-color: #2b2b2b;

/*Sponsor Images Width*/
$sponsor-img-width-gold: 400px;
$sponsor-img-width-silver: 350px;
$sponsor-img-width-raffle: 250px;
$sponsor-img-width-facility: 300px;
$sponsor-img-width-other: 200px;



